* {
  margin: 0;
  padding: 0px;
  list-style: none;  
}

a {
  text-decoration: none;
  color: black;
}

.cabecalho {
  background-color: #5d2821;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
}

ul {
  display: flex;
}

ul li {
  margin-left: 10px;
}

ul li a {
  display: block;
  padding: 10px;
  background: white;
  border-radius: 50%;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.div-sessao1 { /*div pai da primeira sessão*/
  display: flex; /*Tornei os itens Flex - Alinhando lado a lado*/
  justify-content: space-evenly; /*Justificando o conteúdo*/
}

.div-sessao1 img {
  width: 15rem; /*Largura da Imagem*/
  height: 10rem; /*Altura da Imagem*/
}



.div-sessao2 img {
  width: 15rem;
  height: 10rem;
}

.div-sessao2 {
  display: flex;
  justify-content: space-evenly;
}